#cube {
  animation: cube-anim 5s ease-in-out infinite;
}

@keyframes cube-anim {
  0% {
    top: 35%;
  }
  50% {
    top: 30%;
  }
  100% {
    top: 35%;
  }
}

#laptop {
  animation: lapt-anim 5s ease-in-out infinite;
}

@keyframes lapt-anim {
  0% {
    top: 20%;
  }
  50% {
    top: 15%;
  }
  100% {
    top: 20%;
  }
}

#laptop-mobile {
  animation: lapt-m-anim 5s ease-in-out infinite;
}

@keyframes lapt-m-anim {
  0% {
    top: -5rem;
  }
  50% {
    top: -7rem;
  }
  100% {
    top: -5rem;
  }
}
